*{
	font-family: helvetica;
}

body{
}

#container{
	width: 800px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header{
	text-align: center;
}

header ul li{
	display: inline;
}

header ul li a{
	text-decoration: none;
}


.profile-photo{
	height: 80px;
	float: left;
	margin-bottom: 10px;
}

.work ul{
}
